@inherits LayoutComponentBase

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<NavMenu />
<div class="Main">
    <div class="container-fluid">
        @Body
    </div>
</div>

