@page "/contatos"
    <div class="container-fluid">
        <div class="row col-12" style="border: 0px solid blue; padding: 10px">
            <div class=" col col-12 padding: 10px">
                <h1 style="font-weight: bold">Contatos</h1>
            </div>
            <div class="col-12 padding:10px">
                <h3>Statistics156@gmail.com</h3>
                <h3>Telefone: (41) 3229-0922</h3>
                <h3>Responsáveis pelo projeto</h3>
                <h3>Rafaelas.barbosa21@gmail.com</h3>
                <h3>andredekamacedo@gmail.com</h3>
            </div>
        </div>
    </div>


    @code {

    }
