@page "/"
@using Statistics156_Front.Data;
@inject Statistics156_Front.Services.ISelecoesService _selecaoService
@inject Statistics156_Front.Services.ICentralService _centralService
@inject IJSRuntime jsRunTime;

<div class="container-fluid" style="border: 0px solid red">
    <div class="row col-12" style="border: 0px solid blue; padding: 10px">
        <div class="col col-9 padding: 10px ">
            <h1 style="font-weight: bold">Statistics 156</h1>
        </div>
        <div class="col col-12 padding: 10px ">
            <p>
                <h3>
                    Nosso objetivo é tornar os dados que você registra na Central 156, mais evidentes e claros.
                    Assim você poderá analisar as estatísticas do seu bairro ou regional.
                </h3>
            </p>
        </div>
        <div class="col col-12 padding: 10px">
            <p><h4>Como Funciona?</h4>
            <h3> •  Após o registro de uma solicitação na Central 156, os dados são enviados para uma base que é disponibilizada para a população através do link: <a href="https://www.curitiba.pr.gov.br/dadosabertos/busca/"> www.curitiba.pr.gov.br/dadosabertos/busca/ </a> </h3>
            <h3> •  Esses dados ficam disponives em formato de planilhas, o que dificulta o entendimento para um cidadão mais leigo.</h3>
            <h3> •	A Statistics 156, desenvolveu uma aplicação que pega esses dados da Central 156, através de mineração de dados, organiza e trata e salva esses dados.</h3>
            <h3> •	E disponibilizamos os dashboards com os filtros para facilitar o acesso aos cidadões. </h3>
            </p>
        </div>


    </div>
</div>
@code{

}
